security:
    password_hashers:
        App\Entity\User:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email  # <-- must match getUserIdentifier()

    firewalls:
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        main:
            lazy: true       # required for firewalls in Symfony 6+
            provider: app_user_provider
            form_login:
                login_path: login
                check_path: login
                default_target_path: dashboard
            logout:
                path: logout
                target: landing_page
    access_control: []
