{% extends 'base.html.twig' %}

{% block title %}Edit Donor{% endblock %}

{% block body %}
    <h1>Edit Donor</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">Update</button>
    {{ form_end(form) }}
{% endblock %}
